@model CommandModel


@*<div>
        @Model.Cart.CartUser
    </div>*@
@{
    double montantTotal = 0;
    <div>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.CartView.ItemsInCart)
                {
                    montantTotal += item.Price;
                    <tr>
                        @Html.DisplayFor(modelItem => item.Name)
                    </tr>
                    <tr>
                        @Html.DisplayFor(modelItem => item.Price)
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        Informations personnelles
        <table>
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Code postal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cart.CartUser.Address)
                {

                    <tr>
                        <td>@Model.Cart.CartUser.FirstName</td>
                        <td>@Model.Cart.CartUser.LastName</td>
                        <td>@item.Number @item.Street</td>
                        <td>@item.City</td>
                        <td>@item.PostalCode</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        Montant avant taxe : @montantTotal $
        <br>
        Taxe : @(montantTotal * 0.15) $
        <br>
        Montant après taxe : @(montantTotal * 1.15) $
        <br>
        Frais de livraison : 15 $
        <br>
        Montant final : @(montantTotal * 1.15 + 15) $
    </div>
}


<div class="container py-5">
    <div class="row py-5">
        <form class="col-md-9 m-auto" method="post" role="form">

            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">Confirmer</button>
                </div>
                <div class="buttons">
                    <a asp-action="CancelCommand" asp-route-id="@Model.Id" class="delete-btn"></a>
                    @*<span class="like-btn"></span>*@
                </div>
            </div>
        </form>
    </div>
</div>