@model CommandModel



<div>
    @Model.UserId
</div>
<div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr>
                    @Html.DisplayFor(modelItem => item.Mini.Name)
                </tr>
                <tr>
                    @Html.DisplayFor(modelItem => item.Mini.NormalPrice)
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    client info
</div>
<div>
    @Model.TotalAvantTaxe $
    <br>
    @Model.Taxe $
    <br>
    @Model.TotalApresTaxe $
    <br>
    @Model.FraisLivraison $

</div>


<div class="container py-5">
    <div class="row py-5">
        <form class="col-md-9 m-auto" method="post" role="form">

            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">Confirmer</button>
                </div>
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-danger btn-lg px-3">Annuler</button>
                </div>
            </div>
        </form>
    </div>
</div>