@model IEnumerable<MiniStore.Models.CommandModel>


<div class="container my-5">

    @if (Model.Count() == 0)
    {
        <div class="my-4">
            <p class="blocktext">
                Vous n'avez aucunes commandes
                        :(
                        <br>
                @Html.ActionLink(" Magisinez! ", "Index", "Home")
            </p>
        </div>
            
    }
    else
    {
        <h2> Commandes crées</h2>
        <div class="my-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Number)
                        </th>
                        <th> Produits </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.IsSent is true)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>

        </div>



        <h2> Commandes annulées</h2>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Number)
                        </th>
                        <th> Produits </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (!item.IsSent)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>

    }


</div>


