@model List<MiniStore.ViewModels.Client.CommandViewModel>


<div class="container my-5">

    @if (Model.Count() == 0)
    {
        <div class="my-4">
            <p class="blocktext">
                Vous n'avez aucunes commandes
                :(
                <br>
                @Html.ActionLink(" Magasinez! ", "Index", "Shop")
            </p>
        </div>
    }
    else
    {
        <h2> Commandes passées</h2>
        foreach (var command in Model)
        {
            <div class="my-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => command.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => command.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => command.Items)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => command.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => command.Status)
                            </td>
                            @if (command.Items != null)
                                @if (command.Items.ItemsInCart.FirstOrDefault() is not null)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => command.Items.ItemsInCart.First().Name)
                                    </td>
                                }
                            <td>
                                <a asp-controller="Command" asp-action="CommandInfos" asp-route-id="@command.Id">Details</a>
                            </td>
                        </tr>
                        @if (command.Items != null)
                            @foreach (var items in command.Items.ItemsInCart.Skip(1))
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => items.Name)
                                    </td>
                                    <td></td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
        }
    }
</div>